* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    background: #e7e7e7;
}

.library {
    display: grid;
    grid-template-columns: auto 250px;
    align-content: start;
    align-items: start;
    text-align: center;
    min-width: 1000px;
    margin: 0 40px;
    padding: 40px 40px;
    background-color: white;
    min-height: 100vh;
}

.library h1 {
    margin-bottom: 20px;
}

.books-grid {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-auto-rows: auto;
    gap: 15px;
    margin: 20px;
}

.book-card,
.form-books {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px 15px;
    line-height: 1.5;
    text-align: start;
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-card:hover,
.form-books:hover {
    box-shadow: 0 2px 4px #4f9e72;
}

.book-card-row {
    display: flex;
    flex-direction: column;
}

.book-card-row:not(:nth-last-child(2)) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
}

.book-card-row span {
    font-size: 0.8rem;
    font-weight: 600;
}

.book-buttons {
    display: flex;
    gap: 5px;
    margin-top: auto;
}

.book-card svg {
    width: 15px;
    height: 15px;
    fill: red;
}

.book-card button {
    padding: 5px 5px;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    background-color: lightgrey;
}

.book-card button:active {
    transform: scale(0.98);
}

.book-read {
    font-size: 0.7rem;
    white-space: nowrap;
}

.book-read.read {
    color: red;
}

.book-read.unread {
    color: green;
}

.books-sidebar {
    margin: 20px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-legend {
    margin-bottom: 10px;
    font-weight: 600;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(196, 196, 196, 0.5)
}

.form-input:focus {
    outline: 1px solid #4f9e72;
}

button.form-btn {
    margin: 10px 0;
    padding: 5px 5px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4f9e72;
    color: white;
    line-height: 1.5;
}

button.form-btn:active {
    transform: scale(0.98);
}
